# CODEOWNERS file for mitlib-tf-workloads-ecr

################################################################################
# This repository is maintained by the MIT Libraries Infrastructure Team.
* @mitlibraries/infraeng-terraform-reviewers

# There are no individual code owners for this repository.